@using front_to_back2.ViewModels.Shop
@model ShopIndexViewModel

<!-- main starts -->
<main>
    <!-- main-frame section starts -->
    <section class="main-frame no-select" style="background-image: url(assets/images/shop-page-title.jpg);">
        <div class="main-frame-title">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="main-frame-title-text">
                            Shop
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="main-frame-breadcrumb">
                            Home / Products
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- main-frame section ends -->
    <!-- products section starts -->
    <section class="products no-select">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left-sidebar">
                        <div class="search">
                            <h4>Search</h4>
                            <div class="search-product">
                                <input type="search" name="" id="" placeholder="Search products"
                                       class="search-product-input">
                                <img src="assets/images/search-product-icon.png" alt="" class="search-product-icon">
                            </div>

                        </div>
                        <div class="categories">
                            <h4>Product categories</h4>
                            <ul>
                                @{
                                    foreach (var product in Model.Products)
                                    {
                                        bool isFirstTime = true;
                                        if (isFirstTime)
                                        {
                                            <li class="category" data-target="@product.Title.Split(' ')[0].ToLower()">@product.Title </li>
                                        }
                                        else
                                        {
                                            <li class="category" data-target="@product.Title.Split(' ')[0].ToLower()">@product.Title </li>
                                        }
                                        isFirstTime = false;
                                    }
                                }


                            </ul>
                        </div>

                        <div class="top-rated-products">
                            <h4>Top rated products</h4>
                            <ul>
                                <li class="single-product d-flex align-items-center">
                                    <div>
                                        <img src="assets/images/product-single1.jpg" alt="" class="product-photo">
                                    </div>
                                    <div>
                                        <span class="product-title">Family First Aid Kit</span>
                                        <div class="stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <span class="product-price">$39.99</span>
                                    </div>
                                </li>
                                <li class="single-product d-flex align-items-center">
                                    <div>
                                        <img src="assets/images/product-single2.jpg" alt="" class="product-photo">
                                    </div>
                                    <div>
                                        <span class="product-title">Syring Polime Oxygen Mask</span>
                                        <div class="stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <span class="product-price">$17.99</span>
                                    </div>
                                </li>
                                <li class="single-product d-flex align-items-center">
                                    <div>
                                        <img src="assets/images/product-single-3.jpg" alt="" class="product-photo">
                                    </div>
                                    <div>
                                        <span class="product-title">Blue Stethoscope</span>
                                        <div class="stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <span class="product-price">$39.99</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="product-tags">
                            <h4>Product Tags</h4>
                            <div class="tags">
                                <span>aid</span>
                                <span>cancer</span>
                                <span>doctors</span>
                                <span>emergecy</span>
                                <span>healthy</span>
                                <span>medical</span>
                                <span>sickness</span>
                                <span>tips</span>
                            </div>
                        </div>
                        <div class="instagram pt-4">
                            <h5 class="footer-top-col-title pb-4">Instagram</h5>
                            <div class="container">
                                <div class="row instagram-contents">
                                    <div class="col-4">
                                        <div class="instagram-content">
                                            <img src="assets/images/instagram-1.jpg" alt="">
                                            <div class="overlay d-flex align-items-center justify-content-center">
                                                <i class="fab fa-instagram insta-icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="instagram-content">
                                            <img src="assets/images/instagram-2.jpg" alt="">
                                            <div class="overlay d-flex align-items-center justify-content-center">
                                                <i class="fab fa-instagram insta-icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="instagram-content">
                                            <img src="assets/images/instagram-3.jpg" alt="">
                                            <div class="overlay d-flex align-items-center justify-content-center">
                                                <i class="fab fa-instagram insta-icon"></i>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-4 pt-3  pt-md-5 pt-lg-2">
                                        <div class="instagram-content">
                                            <img src="assets/images/instagram-4.jpg" alt="">
                                            <div class="overlay d-flex align-items-center justify-content-center">
                                                <i class="fab fa-instagram insta-icon"></i>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-4 pt-3 pt-md-5 pt-lg-2">
                                        <div class="instagram-content">
                                            <img src="assets/images/instagram-5.jpg" alt="">
                                            <div class="overlay d-flex align-items-center justify-content-center">
                                                <i class="fab fa-instagram insta-icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 pt-3 pt-md-5 pt-lg-2">
                                        <div class="instagram-content">
                                            <img src="assets/images/instagram-6.jpg" alt="">
                                            <div class="overlay d-flex align-items-center justify-content-center">
                                                <i class="fab fa-instagram insta-icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 products-side">
                    <div class="row">


                        @{

                            foreach (var product in Model.Products)
                            {
                                foreach (var productComponent in product.ProductComponents)
                                {

                                    <div class="col-lg-4 col-md-6 pb-5 component @product.Title.Split(' ')[0].ToLower()">
                                        <div class="productt ">
                                            <div class="product-image"
                                         style="background-image: url(@productComponent.FilePath);">
                                                <div class="basket-wishlist-compare d-flex justify-content-center">
                                                    <div class="add-basket text-center">
                                                        <i class="fas fa-shopping-basket"></i>
                                                    </div>
                                                    <div class="wishlist text-center"><i class="far fa-heart"></i></div>
                                                    <div class="compare text-center"><i class="fas fa-exchange-alt"></i></div>
                                                </div>
                                            </div>
                                            <div class="product-inf">
                                                <h5 class="productt-name">@productComponent.Title</h5>
                                                @Html.Raw(productComponent.Description)
                                            </div>
                                        </div>
                                    </div>


                                }
                            }
                        }



                        <div class="pagination d-flex justify-content-center">
                            <div class="pagination-element pagination-active">1</div>
                            <div class="pagination-element">2</div>
                            <div class="pagination-element">></div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- products section ends -->
</main>
<!-- main ends -->